<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <title>Cofetaria Muffin</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="header-left">
        <img src="/logo.png" class="logo">
      </div>
      <div class="header-right">
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">DESPRE NOI</a></li>
            <li><a href="/products">PRODUSE</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="speech">
        <p> Ma numesc A.T. si sunt owner-ul acestei cofetarii online. ,,Muffin'' a luat viata datorita pasiunii mele pentru prajituri, pasiune dobandita de pe vremea cand eram copila. De cand ma stiu, curiozitatea si dorinta de a experimenta noi retete m-a facut sa-mi doresc o cofetarie. Cu multa munca si drag pentru ceea ce fac, am reusit sa-mi pun visul pe picioare, iar acum va stau la dispozitie pentru comenzi, cu produse realizate din ingrediente proaspete si de inalta calitate.</p>
        <p>Fie ca e nunta, un eveniment in familie sau la locul de munca, ,,Muffin'' va ofera ajutorul de care aveti nevoie pentru un moment de neuitat. Experienta noastra, impreuna cu dorintele dumneavoastra, vor conduce spre o personalizare potrivita cu ceea ce doriti si tematica petrecerii, iar in cazul in care doar aveti pofta de ceva dulce, produsele noastre se afla doar la cateva click-uri distanta de dvs.</p>
      </div>
  </body>
</html>
