<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/contacts.css">
    <title>Cofetaria Muffin</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="header-left">
        <img src="/logo.png" class="logo">
      </div>
      <div class="header-right">
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">DESPRE NOI</a></li>
            <li><a href="/products">PRODUSE</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="contact-details">
        <p>Comenzile se preiau telefonic, de luni pana vineri, intre orele 9-14, la numerele</p>
        <p class="phone">0743962254</p>
        <p class="phone">0264446525</p>
        <p>sau online, completand formularul.</p>
        <p class="important">Facem LIVRARI in limita stocului disponibil, de LUNI pana SAMBATA.</p>
        <p>Pentru comenzile aferente evenimentelor, va rugam sa plasati comanda cu minim 48 de ore inainte.</p>
      </div>
    </div>
  </body>
</html>
