<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <title>Cofetaria Muffin</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="header-left">
        <img src="/logo.png" class="logo">
      </div>
      <div class="header-right">
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">DESPRE NOI</a></li>
            <li><a href="/products">PRODUSE</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <form>
        <p>COMANDA</p>
        <table>
         <tr>
           <th>Nume si prenume</th> 
           <th><input type = "text" name = "customer_name" /></th>
         <tr>
           <th>Telefon</th>
           <th><input type = "text" name = "customer_tel" /></th>
         </tr>
         <tr>
           <th>Adresa</th>
           <th><input type = "text" name = "customer_address" /></th>
         </tr>
         <tr>
           <th>Email</th>
           <th><input type = "text" name = "customer_email" /></th>
         </tr>
         <tr>
           <th>Produs</th>
           <th>
             <input list="cakes">
             <datalist id="cakes">
              <% db_info.forEach(function(entry) { %>
                <option value="<%= entry.name %>" name="cake_name">
              <% }); %>
             </datalist>
           </th>
         </tr>
        </table>
        <button type="submit" value="Submit">TRIMITE</button>
      </form>
    </div>
  </body>
</html>
